/* RUGUser List Styling
-------------------------------------------- */

.ruguserlist {
	clear:both;
	margin-bottom: 20px;
	margin-left: 10px;
	border-bottom: lightgray solid 1px;
	transition: all 0.3s ease;
}
.ruguserlist img {
	float: left;
	margin-bottom: 15px;
}

.ruguserlist a {
	font-size: 24px;
	padding: 10px;
	margin: 4px;
	line-height: 90px;
	color: #ee8800;
}

.ruguserlist a:hover {
	color: orange;
	text-decoration: none;
	border-bottom: none;
}

a.pagtags {
	font-size: 20px;
	color: #ee8800;
}

a.pagtags:hover {
	color: orange;
	border-bottom-color: orange;
}

a.currentpagtag {
	font-size: 20px;
	color: lightgray;
}

a.currentpagtag:hover {
	text-decoration: none;
	border-bottom: none;
	color: lightgray;
}


/* RUGButton Styling
-------------------------------------------- */
#RUGButton {
  background-color: #ee8800;
  color: white;
  width: 70%;
  text-align: center;
  border-radius: 5px;
  margin: auto;
	margin-bottom: 15px;
  text-transform: uppercase;
	font-size: 30px;
	line-height: 32px;
  letter-spacing: 1px;
  border: solid 1px;
  border-color: #ff9911;
  padding: 15px;
	clear: both;
	display: block;


}
#RUGButton:hover {
  background-color: orange;
  cursor: pointer;
}

/* Message Styling
------------------------*/

.flash {
  background-color: green;
  border: solid 2px;
  border-color: #008833;
}

.flash a {
	color: white;
}


/* RUGPage Styling
-------------------------*/

.content img.largepic {
	float: left;
	max-width: 50%;
	max-height: 50%;
}

.rugcontent {
	float: right;
	max-width: 50%;
	max-height: 50%;
	padding: 5px;
}

.rugcontent h3 {
	
}
